--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.0.1+cpu
torchvision==0.15.2+cpu
numpy<2

chromadb>=0.4.15

sentence-transformers==2.2.2
transformers==4.35.2
tokenizers==0.14.1
huggingface_hub==0.17.3
safetensors

pandas
tqdm

fastapi>=0.104.1
uvicorn[standard]>=0.24.0
pydantic[email]>=2.5.0
pydantic-settings>=2.0.0
python-multipart==0.0.6

httpx
requests
regex

python-dotenv
loguru

grpcio>=1.60.0

pymongo
pysqlite3-binary
